	  
	
	
		<header id="home" class="jumbotron">
		
			<div class="container">
			
				<div class="message-box clearfix">
				
					<div class="left-col">
						<p><span>2 0 8</span><br/>App </p>
					</div>	
					
					<div class="right-col flexslider home-slider" style="z-index:1;">
					
						<ul class="slides">
						
							<li><p>Startups</p></li>
							
							<li><p>Products</p></li>
							
							<li><p>Money</p></li>
							
						</ul>
						
					</div>
					
				</div>
				
			</div>
			
		</header>

		<section id="about" class="gradient-background">
		
			<div class="container">
			
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
						<h1>Termsheet</h1>
						<p>You never get one until you get a hundred.<br />Login: angel.co / twitter</p>
					</div>
					<div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
						<h1>208</h1>
						<p>Tinder-like app to upvote startups.<br />Investors see if other investors also liked this company.<br />Make your startup a hot deal.</p>
						<a href="https://itunes.apple.com/us/app/id930710184?mt=8&ign-mpt=uo%3D4" class="btn btn-theme transparent scrollto">Download iOS</a>

					</div>
				</div>
				
			</div>
			
		</section>

		<section id="skills">
		
			<div class="container">
				<h2 class="section-title scrollimation scale-in">Today's<span>Trending </span>Startups<i class="icon-chevron-up"></i></h2>

				<div class="row skills">

				<% @best_startups.each do |company| %>
					<div class="col-sm-6 col-md-3 text-center">
						<span class="chart" data-percent="<%= company.like_percentage %>"><span class="percent"><%= company.like_percentage %></span></span>
						<h2 class="text-center"><%= company.name %></h2>
					</div>
				<% end %>
					
				</div>
				
			</div>
			
		</section>	

		
		
			
		<section  id="portfolio">
		
			<div id="portfolio-header" class="text-center">
				
				<h1 class="section-title scrollimation scale-in">Selection<i class="icon-pencil"></i></h1>
				
				<div id="filter-works">
					<ul>
						<li class="active">
							<a href="#" data-filter="*">All</a>
						</li>
						<% if @markets.any? %>
							<% @markets.each do |market| %>
								<li>
									<a href="#" data-filter=".<%= market.gsub(/( )/, '-').downcase %>"><%= market %></a>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
				
			</div>
			
			<div class="container masonry-wrapper scrollimation fade-in">
			
				<div id="projects-container">

					<% 

					@random_startups.each do |company| 
						market_list = []
						company.markets.split(%r{,\s*}).each do |market|
							market_list.push(market.gsub(/( )/, '-').downcase)
						end

					%>


					<a class="project-item <%= market_list.join(" ") %>" href="<%= company.url %>" data-images="<%= company.logo_url %>">

						<div style="min-height: 200px; min-width: 100px; padding: 7%; padding-top: 14%;">
							<%= image_tag "#{company.logo_url}", class: "img-responsive project-image", style: "margin-left: auto; margin-right: auto; max-height: 100px;" %>
							<p class="project-title" style="margin-top: 20px; text-align: center;"><%= company.name %></p>
						</div>

						
							<div class="hover-mask">
								<h2 class="project-title"><%= company.name %></h2>
								<p><%= company.high_concept unless company.high_concept.blank? %><%= company.url if company.high_concept.blank? %></p>
							</div>
						

						<div class="sr-only project-description">
							<p><%= company.product_desc %></p>
						</div>
						
					</a>

					<% end %>

						
				</div> 
				
			</div>


		<section id="download" class="gradient-background">
		
			<div class="container">
			
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 scrollimation scale-in">
						<h1>Submit</h1>
						<p>Submissions to add companies to the list are closed</p>
						<!-- <a href="#portfolio" class="btn btn-theme transparent scrollto">Download the app</a> -->
					</div>
				</div>
				
			</div>
			
		</section>


		<section id="services">
		
			<div class="container">
			
				<h1 class="section-title scrollimation scale-in"><span>Features</span><i class="icon-wrench"></i></h1>
				
				<div class="row services scrollimation fade-left">
					<div class="col-md-3 text-center">
						<a class="icon"><i class="icon-exchange"></i></a>
						<h2>Swipe</h2>
					</div>
					<div class="col-md-3 details">
						<p style="text-align: left;">Got free time?<br />What would you better swipe?</p>
					</div>
					<div class="col-md-3 text-center">
						<a class="icon"><i class="icon-tasks"></i></a>
						<h2>Investors</h2>
					</div>
					<div class="col-md-3 details">
						<p style="text-align: left;">Investors see which other investor also liked a startup. Login with angel.co for that.</p>
					</div>
				</div>
				<div class="row line visible-md visible-lg">
					<div class="col-md-3"><span class="spot"></span></div>
					<div class="col-md-3"><span class="spot"></span></div>
					<div class="col-md-3"><span class="spot"></span></div>
					<div class="col-md-3"><span class="spot"></span></div>
				</div><!--End row -->
				
				<div class="row services bottom-row scrollimation fade-right">
					<div class="col-md-3 text-center col-md-push-3">
						<h2>Startups</h2>
						<a class="icon"><i class="icon-usd"></i></a>
					</div>
					<div class="col-md-3 details col-md-pull-3">
						<p style="text-align: right;">Raising funds or launching. <br />Stay tuned about all the new trendy companies and products.</p>
					</div>
					<div class="col-md-3 text-center  col-md-push-3">
						<h2>Followers</h2>
						<a class="icon"><i class="icon-thumbs-up"></i></a>
					</div>
					<div class="col-md-3 details  col-md-pull-3">
						<p style="text-align: right;">Like and follow a company: Give an upvote to the companies you like by swiping right.</p>
					</div>
				</div>
			
			</div>
			
		</section>

			<div id="project-modal" class="modal fade">
			
				<div class="modal-dialog">
				
					<div class="modal-content">
					
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						
						<div class="modal-body">
						
							<div class="left-col">
								<img class="img-responsive" src="assets/imac.png" alt="">
								<div class="loader"></div>
								<div class="image-wrapper"></div>
							</div>
							
							<h1></h1>
							
							<div class="project-descr"></div>
							
							<div class="clearfix"></div>
							
							<p class="text-center"><a class="btn btn-theme"><i class="icon-external-link"></i>Visit Website</a></p>
						
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</section>
		<section id="twitter" class="gradient-background">
			<div class="container">
				<div class="row scrollimation fade-in">
					<div class="col-sm-1 twitter-icon">
						<i class="icon-twitter"></i>
					</div>
					<div class="col-sm-11">
					<h3>Twitter feed coming</h3>
					</div>
				</div>
			</div>
			
		</section>

		<!--
		<section  id="contact">
		
			<div class="container">
			
				<h1 class="section-title scrollimation scale-in">Keep in <span>Touch</span> with us</h1>
				
				<div class="row">
				
					<div class="col-sm-5 contact-info scrollimation fade-right">
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
						
						<address>
							208<br>
							208, Avenue des Champs-<br>
							Elysées, 75006, Paris<br>
							Outer California<br>

							<b>Contact: </b>+33 1 23 45 67 89
						</address>
						
						<ul class="socials">
							<li><a href="#fake"><i class="icon-twitter"></i></a></li>
							<li><a href="#fake"><i class="icon-facebook"></i></a></li>
							<li><a href="#fake"><i class="icon-dribbble"></i></a></li>
							<li><a href="#fake"><i class="icon-google-plus"></i></a></li>
						</ul>
						
					</div>
				  
					<form id="contact-form" class="col-sm-7 scrollimation fade-left">
						
						<div class="form-group">
						  <label class="control-label" for="contact-name">Name</label>
						  <div class="controls">
							<i class="icon-user"></i>
							<input id="contact-name" name="contactName" placeholder="My name is..." class="form-control input-lg requiredField" type="text" data-error-empty="Please enter your name">
						  </div>
						</div>
						<div class="form-group">
						  <label class="control-label" for="contact-mail">Email</label>
						  <div class=" controls">
							<i class="icon-envelope"></i>
							<input id="contact-mail" name="email" placeholder="Please respond at..." class="form-control input-lg requiredField" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
						  </div>
						</div>
						<div class="form-group">
						  <label class="control-label" for="contact-message">Message</label>
							<div class="controls">
								<i class="icon-comment"></i>
								<textarea id="contact-message" name="comments"  placeholder="I wanna talk about..." class="form-control input-lg requiredField" rows="5" data-error-empty="Please enter your message"></textarea>
							</div>
						</div>
						<p><button name="submit" type="submit" class="btn btn-theme btn-lg" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="icon-location-arrow"></i>Send Message</button></p>
						
					</form>
				</div>
			</div>
		</section>
		-->