<!DOCTYPE html>
<html>
<head>
  <title>App208</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "flexslider" %>
  <%= stylesheet_link_tag    "font-awesome" %>
  <%= stylesheet_link_tag    "theme" %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.scrollto" %>
  <%= javascript_include_tag "jquery.easypiechart" %>
  <%= javascript_include_tag "jquery.backstretch" %>
  <%= javascript_include_tag "jquery.flexslider.min" %>
  <%= javascript_include_tag "jquery.masonry.min" %>
  <%= javascript_include_tag "waypoints.min" %>
  <%= javascript_include_tag "custom" %>
  <%= javascript_include_tag "libs/modernizr.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
